.home {
    padding-top: 100px;
    padding-bottom: 30px;
    background: linear-gradient(135deg, #f5f7fa, #fff);

}
.section-title h2 {
    text-align: center;
    font-weight: 900;
    font-family: "Tajawal", sans-serif;
    font-size: 30px;
    color: #121f3e;
    margin-bottom: 50px;
    margin-top: 20px;

}
.rowhome {
    margin-inline: auto;
}


.latestworks-body {
    padding-right: 15px !important;
}
.latestworks-body .latestworks-h5{
    color: #223b40;
    font-size: 20px;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    line-height: 1.7;
    margin-bottom: 5px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}
.latestworks-body .latestworks-p {
    color: #555;
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* عدد الأسطر التي تريد عرضها */
}





@media (width < 500px) {
    .home {
      padding-top: 60px;
      padding-bottom: 15px;
  }
}