.navbarreact {
    background-color: #fff;
    padding-block: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* للتأكد من بقاء النافبار فوق العناصر الأخرى */
    border-bottom: 1px solid #223b40; /* خط سفلي اختياري */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ظل خفيف لإبراز navbar */
}
.flexspacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-bar {
    font-size: 32px !important;
    color: #223b40;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-tex  {
    padding: 0 !important;
}
.navbar-bar:hover  {
    color: #121f3e;
    transition: 2s;
}
.navbar-bar:focus {
    color: #121f3e;
}
.logo {
    height: 60px;
    cursor: pointer;
}
.dNavbar {
    display: flex;
    align-items: center;
}
/* NavBar.css */

.list-item {
    border-bottom: 1px solid #eee;
}
.css-1853w64-MuiButtonBase-root-MuiListItemButton-root {
    transition: all 0.3s  !important;
}
.css-1853w64-MuiButtonBase-root-MuiListItemButton-root:hover {
    background-color: #223b40 !important;
    color: #ffffffce !important;
}
.css-1853w64-MuiButtonBase-root-MuiListItemButton-root:hover svg {
    color: #ffffffce;
}
.list-item-button {
    /* أنماط خاصة للزر */
    font-size: 18px;
    color: #223b40 !important;
}

.list-item-icon {
    /* أنماط خاصة للأيقونة */
    font-size: 24px;
    color: #223b40 !important;
}
.search-form {
    max-width: 500px;
    width: 280px;
    position: relative;
    margin-right: 20px;
    
}
.search-form input {
    color: #121f3e;
    border: 1px solid snow;
    outline: none !important;
    border-radius: 5px;
    width: 100%;
    background-color: #f3f4ef;
    border-radius: 2.5rem;
    font-size: 12px;
    padding: 5px;

}
.search-form .search-button{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0 !important;
    margin-left: 10px;
    color: #223b40a3;
    padding-top: 2px;
}
.search-form::placeholder{
    color: #121f3e;

}
@media (width < 500px) {
    .logo {
        height: 30px;
    }
    .navbar-bar {
        font-size: 24px !important;
    }
    .search-form {
        max-width: 200px;
}
}
@media (width < 500px) {
    .list-item-button {
        font-size: 16px;
    
    }
    
    .list-item-icon {
        font-size: 20px;
    }
}

.list-item-button.active {
    background-color: #223b40 !important;
    color: #ffffffce !important;
  }
  .css-1853w64-MuiButtonBase-root-MuiListItemButton-root.active svg {
    color: #ffffffce;
}
  